<% layout("/layouts/boilerplate.ejs") %>

<body>
    <div class="row">
        
    </div>
    <div class="alert alert-danger" role="alert">
        <p><%= err.statusCode %></p>
        <p><%=err.message%></p>
        <p><%= err.stack %></p>
      </div>
</body>